<div class="container">  
  
    <!-- Bridge Offline Message -->
    <div *ngIf="!isBridgeOnline" class="alert alert-danger d-flex align-items-center mt-3">
      <i class="bi bi-x-circle me-2"></i>
      <span>The bridge is offline. Please check your connection.</span>
    </div>
    
    <!-- Back Button -->
    <button class="btn btn-secondary" (click)="goBack()"><i class="bi bi-arrow-left"></i></button>

    <!-- Device Controls -->
    <div class="row justify-content-center pt-2">
          <app-device class="d-flex pb-3"
                      [device]="device"
                      [isCard]=false
                      [isBridgeOnline]="isBridgeOnline">
                      <ng-container *ngFor="let control of device.exposes" [ngSwitch]="control.type">
                        
                        <ng-container *ngSwitchCase="'binary'">
                            <app-binary [friendly_name]="device.friendly_name" [control]="control"></app-binary>
                        </ng-container>
                
                        <ng-container *ngSwitchCase="'numeric'">
                            <app-numeric [friendly_name]="device.friendly_name" [control]="control"></app-numeric>
                        </ng-container>
                
                        <ng-container *ngSwitchCase="'enum'">
                              <app-enum [friendly_name]="device.friendly_name" [control]="control"></app-enum>
                        </ng-container>
                
                        <ng-container *ngSwitchCase="'composite'">
                          <ng-container *ngIf="control.name == 'color_xy'; else elseTemplate">
                            <app-color [friendly_name]="device.friendly_name" [control]="control"></app-color>
                          </ng-container>
                          <ng-template #elseTemplate>
                            <app-composite [friendly_name]="device.friendly_name" [control]="control"></app-composite>
                          </ng-template>
                        </ng-container>
                
                        <ng-container *ngSwitchDefault></ng-container>
                
                      </ng-container>
          </app-device> 
    </div>
</div>
  
