
  <div class="flex-fill card flex-shrink-1">
    <div class="card-header pb-0 d-flex justify-content-between" [routerLink]="['/device', device.ieee]">
      <h4 class="card-title">{{ device.friendly_name }}</h4>
    </div>
    <div class="row card-body justify-content-center">
      <ng-container *ngFor="let control of device.controls" [ngSwitch]="control.type">
        
        <ng-container *ngSwitchCase="'binary'">
            <app-binary [topic]="topic" [control]="control" [isCard]="isCard"></app-binary>
        </ng-container>

        <ng-container *ngSwitchCase="'numeric'">
          <ng-container *ngIf="control.name !== 'color_temp_startup' || !isCard">
              <app-numeric [topic]="topic" [control]="control" [isCard]="isCard"></app-numeric>
          </ng-container>
        </ng-container>

        <ng-container *ngSwitchCase="'enum'">
              <app-enum [topic]="topic" [control]="control" [isCard]="isCard"></app-enum>
        </ng-container>

        <ng-container *ngSwitchCase="'composite'">
          <ng-container *ngIf="control.name == 'color_xy'; else elseTemplate">
            <app-color [topic]="topic" [control]="control" [isCard]="isCard"></app-color>
          </ng-container>
          <ng-template #elseTemplate>
            <app-composite [topic]="topic" [control]="control" [isCard]="isCard"></app-composite>
          </ng-template>
        </ng-container>

        <ng-container *ngSwitchDefault></ng-container>

      </ng-container>
      
      <ng-content></ng-content>
      
    </div>
  </div>
