<p>{{name}}</p>
<ng-container *ngFor="let feature of features" [ngSwitch]="feature.type">
    <ng-container *ngSwitchCase="'binary'">
      <p>{{feature.label}}</p>
      <app-binary [topic]="topic" [feature]="feature"></app-binary>
    </ng-container>
  
    <ng-container *ngSwitchCase="'numeric'" >
      <ng-container *ngIf="feature.name!='color_temp_startup'">
        <p>{{feature.label}}</p>
        <app-numeric  
          [topic]="topic" [feature]="feature">
        </app-numeric>
      </ng-container>
    </ng-container>

    <ng-container *ngSwitchCase="'enum'" >
      <p>{{feature.label}}</p>
      <app-enum  
        [topic]="topic" [feature]="feature">
      </app-enum>
    </ng-container>
  
    <ng-container *ngSwitchDefault>
    </ng-container>
    
</ng-container>