<footer class="bg-dark text-white text-center fixed-bottom py-2">
  <div class="d-flex justify-content-center align-items-center gap-3 small">
    <h6 class="mb-0">© 2025 Zigbee2MQTT Dashboard</h6>
    <a href="https://github.com/Distributed-Computing-Group-6/mqtt-smart-home-dashboard" 
    target="_blank" 
    class="text-white d-flex flex-column align-items-center gap-1 text-decoration-none" 
    title="View the code on GitHub">
   <div style="width: 2rem; height: 2rem;" class="d-flex justify-content-center align-items-center">
     <i class="bi bi-github fs-3"></i>
   </div>
   <span class="small mb-0">Code</span>
 </a>
 
 <a href="https://www.zigbee2mqtt.io/" 
    target="_blank" 
    class="text-white d-flex flex-column align-items-center gap-1 text-decoration-none" 
    title="Zigbee2MQTT documentation">
    <div style="width: 2rem; height: 2rem;" class="d-flex justify-content-center align-items-center">
      <img src="https://www.zigbee2mqtt.io/logo.png" 
            alt="Zigbee2MQTT" 
            style="width: 2rem; height: 2rem; object-fit: contain;" />
    </div>
   <span class="small mb-0">Guide</span>
 </a>
 
 

  </div>
</footer>
