<div class="position-relative mb-3" *ngIf="id != null">
  <div class="d-flex align-items-center justify-content-between">
    <button class="btn btn-secondary btn-sm" [routerLink]="['/groups']">
      <i class="bi bi-arrow-left"></i> Back
    </button>

    <div class="d-flex align-items-center gap-3 me-3">
      <div class="btn-group btn-group-sm" title="Modify group members">
        <button class="btn btn-success" (click)="onAddToGroupClick()" title="Add to Group">
          <i class="bi bi-plus-circle"></i>
        </button>
        <button class="btn btn-danger" (click)="onRemoveFromGroupClick()" title="Remove from Group">
          <i class="bi bi-dash-circle"></i>
        </button>
      </div>
    
      <div class="vr" style="height: 24px;"></div>
    
      <div class="btn-group btn-group-sm" title="Edit or delete group">
        <button class="btn btn-secondary" (click)="openRenameModal()" title="Rename Group">
          <i class="bi bi-pencil"></i>
        </button>
        <button class="btn btn-danger" (click)="openDeleteModal()" title="Delete Group">
          <i class="bi bi-trash3"></i>
        </button>
      </div>
    </div>
    
</div>


<div class="position-absolute top-50 start-50 translate-middle-x">
    <h4 class="mb-0 text-center">{{ groupName }}</h4>
  </div>
</div>


<!-- Devices List -->
<div class="row justify-content-center pt-2">
  <ng-container *ngFor="let device of devices; let i = index">
    <app-device
      class="col-xl-3 col-lg-4 col-sm-6 col-12 d-flex pb-3"
      *ngIf="device.controls.length > 0"
      [device]="device"
      [isBridgeOnline]="isBridgeOnline||isVirtualPage">
    </app-device>
  </ng-container>
</div>

<app-modal
  #modalComponent
  [title]="modalTitle"
  [action]="modalAction"
  [type]="modalType"
  [name]="modalName"
  [devices]="this.allDevices"
  [members]="this.devices">
</app-modal>