<div class="row justify-content-between no-disable" [ngClass]="{'small': type!='group'}" (click)="isCollapsed = !isCollapsed">
  <div class="col-9">
    {{ control.label }}
  </div>
  <div class="col text-center">
    <i [ngClass]="{'bi bi-chevron-down': !isCollapsed, 'bi bi-chevron-right': isCollapsed}"></i>
  </div>
</div>

<hr class="my-3 border-secondary">

  <div class="collapse" [ngClass]="{'show': !isCollapsed}"> 
    <ng-container *ngFor="let feature of control.features">
        <ng-container [ngSwitch]="feature.type">
          <ng-container *ngSwitchCase="'binary'">
            <app-binary [friendly_name]="friendly_name" [topic]="topic" [compositeProperty]="control.property" [control]="feature" [isCard]="isCard"></app-binary>
          </ng-container>
    
          <ng-container *ngSwitchCase="'numeric'">
            <ng-container *ngIf="feature.name !== 'color_temp_startup'">
                <app-numeric [friendly_name]="friendly_name" [topic]="topic" [compositeProperty]="control.property" [control]="feature" [isCard]="isCard"></app-numeric>
            </ng-container>
          </ng-container>
    
          <ng-container *ngSwitchCase="'enum'">
            <app-enum [friendly_name]="friendly_name" [topic]="topic" [compositeProperty]="control.property" [control]="feature" [isCard]="isCard"></app-enum>
          </ng-container>
    
          <ng-container *ngSwitchCase="'composite'">
            <ng-container *ngIf="feature.name == 'color_xy'; else elseTemplate">
              <app-color [friendly_name]="friendly_name" [topic]="topic" [compositeProperty]="control.property" [control]="feature" [isCard]="isCard"></app-color>
            </ng-container>
            <ng-template #elseTemplate>
              <app-composite [friendly_name]="friendly_name" [topic]="topic" [compositeProperty]="control.property" [control]="feature" [isCard]="isCard"></app-composite>
            </ng-template>
          </ng-container>
        </ng-container>
    </ng-container>
    
  </div>