<nav class="navbar navbar-expand-lg fixed-top bg-primary clean-navbar navbar-dark">
  <div class="container">
      <a class="navbar-brand logo" [routerLink]="['']">Brand</a>
      <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navcol-1">
          <span class="visually-hidden">Toggle navigation</span>
          <span class="navbar-toggler-icon"></span>
      </button>
      <div id="navcol-1" class="collapse navbar-collapse">
          <ul class="navbar-nav ms-auto d-flex align-items-center">
              <li class="nav-item">
                  <a class="nav-link" [routerLink]="['/home']" routerLinkActive="active">Dashboard</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" [routerLink]="['/groups']" routerLinkActive="active">Groups</a>
              </li>
              <li class="nav-item p-3">
                  <a class="btn btn-light btn-sm px-3" (click)="openModal()">
                    <i class="bi bi-plus-circle"></i> Add Device
                  </a>
              </li>
              <li class="nav-item">
                  <a class="btn btn-secondary btn-sm" [routerLink]="['/logout']">Logout</a>
              </li>
          </ul>
      </div>
  </div>
</nav>

<app-modal 
  #modalComponent
  title="Add Device"
  (clearModal)="cancelJoin()"
  [bodyTemplate]="modalBody">
</app-modal>

<ng-template #modalBody>
  <div *ngIf="joiningCountdown>0" class="modal-body">
    <div class="row align-items-center">
        <div class="col-9 d-flex align-items-center">
          <span class="me-2">🔍 Searching for Devices...</span>
          <div class="spinner-border spinner-border-sm text-primary" role="status"></div>
        </div>
        <div class="col-3 text-end fw-bold">
          {{ joiningCountdown }}s
        </div>
    </div>
</div>
<div *ngIf="cantFind" class="modal-body is-invalid">
  {{invalidMessage}}
</div>  
<div *ngIf="joinedDevices.length>0" class="modal-body is-valid">
    Found Devices
    <ul>
    <li *ngFor="let device of joinedDevices">
      <strong>{{ device.friendly_name }}</strong>
    </li>
  </ul>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="modalComponent.closeModal()">Close</button>
  <button type="button" (click)="addZigbee()" class="btn btn-primary">Allows Zigbee Devices to Join</button>
</div>
</ng-template>