<nav class="navbar navbar-expand-lg fixed-top bg-primary clean-navbar navbar-dark">
  <div class="container">
      <a class="navbar-brand logo" [routerLink]="['']">Zigbee2MQTT Dashboard</a>
      <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navcol-1">
          <span class="visually-hidden">Toggle navigation</span>
          <span class="navbar-toggler-icon"></span>
      </button>
      <div id="navcol-1" class="collapse navbar-collapse">
          <ul class="navbar-nav ms-auto d-flex align-items-center">
              <li class="nav-item">
                  <a class="nav-link" [routerLink]="['/home']" routerLinkActive="active">Dashboard</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" [routerLink]="['/groups']" routerLinkActive="active">Groups</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" [routerLink]="['/virtual']" routerLinkActive="active">Virtual Devices</a>
              </li>
              
              <li class="nav-item p-3">
                <div class="btn-group btn-group-sm" role="group">
                  <button class="btn btn-light plus" disabled>
                    <i class="bi bi-plus-circle"></i>
                  </button>
                  <button class="btn btn-light px-3" (click)="openAddDeviceModal()" title="Add Device">
                    Device
                  </button>
                  <button class="btn btn-light px-3" (click)="openAddGroupModal()" title="Add Group">
                    Group
                  </button>
                </div>
              </li>
              
              <li class="nav-item">
                  <a class="btn btn-secondary btn-sm" [routerLink]="['/logout']">Logout</a>
              </li>
          </ul>
      </div>
  </div>
</nav>

<app-modal
  #modalComponent
  [title]="modalTitle"
  [action]="modalAction"
  [type]="modalType"
  [name]="modalName">
</app-modal>
