<ng-template #modalContent let-modal>
    <div class="modal-header">
      <h5 class="modal-title" id="modalLabel">{{ title }}</h5>
      <button type="button" class="btn-close" (click)="closeModal()"  aria-label="Close"></button>
    </div>      
    <ng-container [ngSwitch]="action">
      
      <ng-container *ngSwitchCase="'add'">
        <div *ngIf="joiningCountdown>0" class="modal-body">
          <div class="row align-items-center">
              <div class="col-9 d-flex align-items-center">
                <span class="me-2">🔍 Searching for Devices...</span>
                <div class="spinner-border spinner-border-sm text-primary" role="status"></div>
              </div>
              <div class="col-3 text-end fw-bold">
                {{ joiningCountdown }}s
              </div>
          </div>
      </div>
      <div *ngIf="cantFind" class="modal-body is-invalid">
        {{invalidMessage}}
      </div>  
      <div *ngIf="joinedDevices.length>0" class="modal-body is-valid">
          Found Devices
          <ul>
          <li *ngFor="let device of joinedDevices">
            <strong>{{ device.friendly_name }}</strong>
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeModal()">Close</button>
        <button type="button" (click)="addZigbee()" class="btn btn-primary">Allows Zigbee Devices to Join</button>
      </div>
      
      </ng-container>
        
      
      <ng-container *ngSwitchCase="'edit'"> 
        <div class="modal-body">
          <form #editForm="ngForm" class="row g-3" (submit)="editName($event, newNameInput.value)">
            <label for="newName" class="col-sm-4 col-form-label">New Name</label>
            <div class="col-sm-8">
              <input 
                type="text" 
                class="form-control" 
                id="newName" 
                #newNameInput
                placeholder="{{ name }}"
                required      
                [ngClass]="{'is-invalid': isInvalid, 'is-valid': !isInvalid}">
                
                <div *ngIf="isInvalid" class="invalid-feedback">
                  {{invalidMessage}}
                </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" (click)="closeModal()" >Close</button>
              <button type="submit" class="btn btn-primary" [disabled]="editForm.invalid">Save changes</button>
            </div>
          </form>
        </div>
      

      </ng-container>

      <ng-container *ngSwitchCase="'delete'">
      <div *ngIf="cantRemove" class="modal-body d-flex align-items-center is-invalid">
        <i class="bi bi-x-circle me-2 text-danger"></i>
        <span class="text-danger">{{ invalidMessage }}</span>
      </div>
      <div *ngIf="deleting" class="modal-body d-flex align-items-center">
        <span class="me-2">🗑️ Deleting...</span>
        <div class="spinner-border spinner-border-sm text-primary" role="status"></div>
      </div>
      
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeModal()">Close</button>
        <button type="button" (click)="deleteItem()" class="btn btn-danger">
          {{ !cantRemove ? "Confirm Delete" : "Force Delete" }}
        </button>
    </div>
      </ng-container>
    </ng-container>
    <!-- <ng-container *ngTemplateOutlet="bodyTemplate"></ng-container> -->
</ng-template>


<!-- <app-modal 
  #deleteModalContent
  [title]="'Delete ' + device.friendly_name" 
  (clearModal)="resetModal()">
</app-modal> -->
  

