<app-basic-expose [topic]="topic" [control]="control">
  <div class="dropdown">
    <button 
      type="button" 
      class="btn btn-secondary" 
      [ngClass]="{'dropdown-toggle': canWrite(),
      'form-control-plaintext':!canWrite()}"
      data-bs-toggle="dropdown" 
      aria-haspopup="true" 
      aria-expanded="false"
      [disabled]="!canWrite()">
      {{ inputValue || inputValue }}
    </button>
    <ng-container *ngIf="canWrite()s">
      <div class="dropdown-menu">
        <ng-container *ngFor="let value of control.values">
          <a class="dropdown-item" (click)="setValue(value)">{{ value }}</a>
        </ng-container>
      </div>
    </ng-container>
  </div>
</app-basic-expose>
