<div class="d-flex align-items-center">
    <div class="flex-shrink-1 flex-grow-1">{{control.label}}</div>
    <div class="flex-shrink-1">
      <div class="form-check form-switch form-switch-lg">
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <ng-container *ngFor="let value of control.values">
                <label class="btn btn-secondary" [class.active]="inputValue === value">
                    <input 
                    type="radio" 
                    name="values" 
                    [id]="value" 
                    [value]="value" 
                    [(ngModel)]="inputValue" 
                    autocomplete="off"
                    (change)="stateChange()"
                    [disabled]="(!canWrite())"> {{ value }}
                </label>
            </ng-container>
        </div>
      </div>
    </div>
  </div>
