.container {
  display: block;
  margin-top: 70px; 
}
.main-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

app-footer {
  padding-top: 40px;
}

@media (max-width: 992px) {
  .container {
    margin-top: 50px;
  }
}
